/*base styles*/
* {
  box-sizing: border-box;
}

:root{
  background-color: lightskyblue;
}
body {
  width:90%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 22px;
  height:100px;
  padding-top: 30px;
  text-align: center;
  font-family: "Vollkorn+SC",sans-serif;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-family: "benchnine",serif;
  font-size: 1.75em;
}
legend {
  color: darkslategrey;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  color: grey;
  border-bottom: 8px double black;
  padding-bottom: 20px;
}
fieldset {
  border: none;
}

form {
  font-family: "Oswald",sans-serif;
  color: slategrey;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius:10px;
  background: #f3f7f8;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 6px;
  width:200px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="address"],
input[type="city"],
input[type="state"],
input[type="zipcode"],{
  border:none;
  background-color: lightgrey;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
  outline:0;
  height: auto;
  margin:0;
  width: 100%;
}

input::placeholder {
  color: red;
  text-align: right;
}

select {
margin-bottom: 10px;
height:26px;

}
.second_container {
  display: flex;
  flex-direction: row;
}
input:focus,
textarea:focus {
  border-color:#000;
}
div.news {
  display: flex;
  flex-direction: row-reverse;
}
div.format {
  display: flex;
  flex-direction: row-reverse;

}
textarea {
  height: 5em;
  width:100%;
}
footer {
  text-align: center;
  color: slategrey;
  font-style: italic;
}

.button {
  width:100%
  height: 3em;
  color:white;
  background-color: darkturquoise;
}
/*media query*/
@media(min-width 768px){

form {
  max-width: 690px;
  width:100%;
  margin: 0 auto;
}

label,
input {
  display: flex;
  flex-direction: row;
}






}
