/*base styles*/
* {
  box-sizing: border-box;
}

:root{
  background-color: lightskyblue;
}
:target {
  background: lightsteelblue;
  counter-reset: pointer;
}
body {
  width:90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 22px;
  height:70px;
  padding-top: 30px;
  text-align: center;
  font-family: "Vollkorn+SC",sans-serif;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-family: "benchnine",serif;
  font-size: 1.75em;
}
legend {
  color: darkslategrey;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  color: grey;
  border-bottom: 8px double black;
  padding-bottom: 20px;
}
fieldset {
  border: none;
}

form {
  font-family: "Oswald",sans-serif;
  color: slategrey;
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius:10px;
  background: #f3f7f8;
  text-align: left;
}
form {
   input[type="text"],
   input[type="email"],
   input [type="select"] }

    &:valid {
      background: lightyellow;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 20px 20px;

      & + label {
        opacity: 0;
          }
        }
      }
    }
  }



label {
  display: block;
  margin-bottom: 6px;
  width:200px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="street_address"],
input[type="city"],
input[type="state"],
input[type="zipcode"],
textarea,
select {
  border:none;
  background-color: gainsboro;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
  outline:0;
  height: auto;
  margin:0;
  width: 100%;
  border-radius: 7px;
}

#state {
  background-color: gainsboro;
  width:100%;
  height: 50px;
  font-size: .9em;
}
input::placeholder {
  color: red;
  text-align: right;
}

select {
margin-bottom: 10px;
height:26px;
}

input:focus,
textarea:focus {
  border-color:#000;
}

input:hover,
textarea:hover,
select {
  background: #cffcf9;
  outline: 0;
  transition-duration: 2s;
  cursor: pointer;
}

.second_container {
  display: flex;
  flex-direction: row;

}
div.news {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 30%;
  margin: auto;
  width:250px;
  justify-content: flex-end;
}
div.format {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  flex-basis: 30%;
  margin: auto;
  width: 250px;
  justify-content: flex-end;
}

textarea {
  height: 5em;
  width:100%;
  border-radius: 7px;
}

footer {
  text-align: center;
  color: slategrey;
  font-style: italic;
}

button {
  width:100%;
  height: 2em;
  color:white;
  font-size: 1.4em;
  background-color: darkturquoise;
  border-radius: 7px;
  box-shadow: 3px 3px 6px darkslategrey;
  margin-top: 10px;
}
/*media query*/
@media(min-width: 768px) {

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

label,
input {
  flex-direction: row;
  display: inline-block;
  width:100px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="street_address"],
input[type="city"],
input[type="state"],
input[type="zipcode"],
textarea, select {
  width:450px;
  margin:10px;
  padding:10px;
}

#state {
  width:450px;
}

div.contact {
  display: flex;
  flex-direction: row;
  width:100%;
}
 h4 {
   font-weight: bold;
 }
div.news {
display: flex;
flex-direction: row-reverse;
flex-basis: 25%;
margin: 0;
justify-content: flex-end;
}

textarea {
  width: 100%;
}

div.format {
  display: flex;
  flex-direction: row-reverse;
  flex-basis:25%;
  margin: 0;
  justify-content: flex-end;
}


}
