/*base styles*/
* {
  box-sizing: border-box;
}


body {
  width:90%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 22px;
  height:100px;
  padding-top: 30px;
  text-align: center;
  font-family: "Vollkorn+SC",sans-serif;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-family: "benchnine",serif;
  font-size: 1.75em;
}
legend {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  color: lightgrey;
  border-bottom: 8px double black;
  padding-bottom: 20px;
}
fieldset {
  border: none;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius:10px;
  background: #f3f7f8;
  text-align: left;
}


input[type="text"],
input[type="email"],
input[type="phone"],
input[type="address"],
input[type="city"],
input[type="state"],
input[type="zipcode"],{
  border:none;
  background: lightgrey;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
  outline:0;
  height: auto;
  margin:0;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 6px;
  width:200px;
  text-align: left;
}
input::placeholder {
  color: red;
  text-align: right;
}

select {
margin-bottom: 10px;
height:26px;

}
input:focus,
textarea:focus {
  border-color:#000;
}
textarea {
  height: 4em;
}

/*media query*/
@media(min-width 768px){

form {
  max-width: 680px;
  width:100%;
  margin: 0 auto;
}








}
